.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 8px 8px 12px #aaa;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}
.form-label-group input::placeholder {
    padding-left: 10px;
}

.disconnect_container{
    width: 100%;
    height: 50px;
    position: relative;
}

.profil_part{
    position: absolute;
    right: 0;
}

.disconnect{
    width: 150px;
}
